.custom_container{
    height: 100px;
    background-color: gray;
    text-align: center;
}

#gears{
    position: fixed;
    left: 270px;
}

#heading_title{
    font-family: 'Modak', cursive;
    font-size: 60px;
}

#gears{
    margin-top: -30px;
}